<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stuar.tutorialuno">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"

        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/doc_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/doc_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp"/>
        <activity android:name=".LogIn" />
        <activity android:name=".BookApp" />
        <activity android:name=".DocSearch" />
        <activity android:name=".MedicalHistory" />
        <activity android:name=".RecordVideo" />
        <activity android:name=".UserHome" />

    </application>



</manifest>